<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>สั่งจอง</ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-slides >
      <ion-slide>
        <img class="img" src="https://img.wongnai.com/p/1968x0/2018/12/15/bb08773d48034780ab503b1a4902a6f8.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img class="img" src="https://cdn.pixabay.com/photo/2019/03/04/12/59/pad-thai-4034040_960_720.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img class="img" src="https://cdn.pixabay.com/photo/2019/08/16/09/31/pad-thai-4409871_960_720.jpg" alt="">
      </ion-slide>
    </ion-slides>

    <ion-card routerLink="/hoy-tord">
      <img src="https://img.wongnai.com/p/1968x0/2018/12/15/bb08773d48034780ab503b1a4902a6f8.jpg" alt="">
      <ion-card-content>
        <h1>หอยทอด 40 บาท</h1>
      </ion-card-content>
    </ion-card>

  </ion-content>